body {
    background-color: #f9f4e3;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;
    box-shadow: 1px 4px 7px #00000026;
    margin-top: 200px;
    border-radius: 16px;
    background-color: white;
}


@media (max-width: 768px) {
    .box-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-shadow: 1px 4px 7px #00000026;
        margin-top: 200px;
        border-radius: 16px;
        background-color: white;
    }
}

@media (max-width: 767px) {
    .box-container {
        width: 100%;
    }

    img {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .box-container {
        width: 100%;
    }
    img {
        display: none;
    }
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-actions {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.div-form {
    width: 80%;
    height: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.two-div {
    display: flex;
    flex-direction: row;
}

.image-background {
    display: flex;
    margin-top: 200px;
    margin-left: 70px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 100px 40px 70px #00000026;
}


.button-confirm {
    background-color: #cdb28a;
    border-color: #cdb28a;
    font-weight: bold;
}

.button-confirm:hover {
    background-color: #ffffff;
    border-color: #cdb28a;
    color: #000000;
}

.button-outlined {
    border-color: #cdb28a;
    color: #000000;
}

.button-outlined:hover {
    background-color: #cdb28a;
    border-color: #cdb28a;
    color: #000000;
}

.button-outlined:active {
    background-color: #cdb28a;
    border-color: #cdb28a;
    color: #000000;
}

a {
    color: #cdb28a;
}